
	* {
		background: black url("../img/fundo.png") repeat right top fixed;
		color: white;
		margin: 0px;
		padding: 0px;
	}

	header {
		width: 902px;
		height: 150px;
		margin-left: 30px;	
	}
	#logo {
		width: 150%;
		height: 79%;
		padding-right: 150px;
		display: inline;
	}
	#logo img {
		border-radius: 3px;
		margin-bottom: 15px;
	}
	#foto {
		width: 150%;
		height: 79%;
		display: inline;
		font-size: 0.7em;
		padding-left: 170px;
	}
	#foto img {
		border-radius: 150px;
		margin-bottom: 15px;
		padding-top: 3px;
	}
	#menu {
		width: 150%;
		height: 19%;
		padding-left: 8px;
	}
	#menu ul {
		list-style: none;
		font-size: 150%;
	}
	#menu ul li {
		display: inline;
	}
	#menu ul li a {
		text-decoration: none;
		padding: 2px;
		text-transform: uppercase;	
	}
	#menu ul li a:hover {
		color: black;
		background: White;
		border-radius: 10px;
		transition: 1s;
	}
	#conteudo {
		display: flex;
		flex-wrap: wrap;
		
	}
	section {
		padding:15px;		
	}
	#rodape {
		display: block;
		text-align: center;
		margin: 10px;
	}
	#rodape a {
		text-decoration: none;
	}
	#rodape a:hover {
		color: black;
		background: white;
		border-radius: 3px;
		padding: 1px;
	}
	h3 {
		padding: 3px;
	}
p{
	text-align: justify;
}
 /** fim da media query */